<div class="jumbotron text-center">
  <h1>Dates</h1>

  <p>{{ tagline }}</p>

<h3>Add New Date</h3>
<form name="DateForm" ng-controller="DateController as ndCtrl" ng-submit="DateForm.$valid && createDate()" novalidate> <!--turn off validation -->
  <li> Place: {{formData.place}}
    People: {{formData.people}}
    Date: {{formData.date}}
    Time: {{formData.time}}
    Stars: {{formData.star}}
    Back: {{formData.back}}</li>
  <input ng-model="formData.place" type="text" placeholder="place" required/>
  <input ng-model="formData.people" type="number" placeholder="#people" required/>
  <input ng-model="formData.date" type="date" placeholder="day" required/>
  <input ng-model="formData.time" type="time" placeholder="time" required/>
  <select ng-model="formData.star" required>
    <option value=1> 1 star </option>
    <option value=2> 2 stars </option>
    <option value=3> 3 stars </option>
    <option value=4> 4 stars </option>
    <option value=5> 5 stars </option>
  </select>
  <input ng-model="formData.back" type="checkbox" /> Come Back?
  <div>DateForm is {{DateForm.$valid}}</div>
  <input type="submit" value="Add Date" />
</form>
</div>
