<div class="jumbotron text-center">
  <h1>Dates</h1>

  <p>{{ tagline }}</p>

<form name="DateForm" ng-controller="DateController as ndCtrl" ng-submit="DateForm.$valid && createDate()" novalidate> <!--turn off validation -->
  <li> Place: {{formData.place}}
    Group: {{formData.people}}
    Date: {{formData.date}}
    Time: {{formData.time}}
    Stars: {{formData.star}}
    Returning?: {{formData.back || false}}</li>

  <input class="inputheightadj" ng-model="formData.place" type="text" placeholder="place" required/>
  <select class="inputheightadj" ng-model="formData.people" required>
    <option value="1"> Solo(1) </option>
    <option value="2"> Couple(2) </option>
    <option value="3"> Experimental(3) </option>
    <option value="4"> Double Date(4) </option>
    <option value="5-7"> SGroup(5-7) </option>
    <option value="8-11"> MGroup(8-11) </option>
    <option value="12+"> MGroup(12+) </option>
  </select>
  <input ng-model="formData.date" type="date" placeholder="day" required/>
  <input ng-model="formData.time" type="time" placeholder="time" required/>

  <div>
    <label class="checkbox-inline" >
        <input ng-model="formData.star"  type="radio" name="star" id="Star1" value="1" required> 1 Star
     </label>
     <label class="checkbox-inline" >
        <input ng-model="formData.star" type="radio" name="star" id="Star2" value="2"> 2 Stars
     </label>
     <label class="checkbox-inline" >
        <input ng-model="formData.star" type="radio" name="star" id="Star3" value="3"> 3 Stars
     </label>
     <label class="checkbox-inline" >
        <input ng-model="formData.star" type="radio" name="star" id="Star4" value="4"> 4 Stars
     </label>
     <label class="checkbox-inline" >
        <input ng-model="formData.star" type="radio" name="star" id="Star5" value="1"> 5 Stars
     </label>
  </div>

 <div>
  <span class="inputreturnadj purple" ng-show="DateForm.$valid" ng-show="formData.back">Would you return?</span>
    <input ng-show="DateForm.$valid" ng-model="formData.back" type="checkbox" />
    <span ng-show="DateForm.$valid">
      <span class="inputreturnadj red" ng-hide="formData.back">NO!</span>
    </span>
    <span class="inputreturnadj green" ng-show="formData.back">YES!</span>
    <span class="inputreturnadj2" ng-show="formData.back.$pristine">sexy</span>
    <input ng-show="DateForm.$valid" type="submit" value="Add Date" />
    </div>
</form>
</div>
