<div class="jumbotron text-center">
  <h1>Find A Place to Date</h1>

  How Many Dates Added: {{dates.length}}
  <p ng-controller="MainController as mCtrl">{{ mCtrl.tagline }}</p>

  Search: <input ng-model="query">
  Sort: <select ng-model="orderProp">
    <option value="place">Alphabetical</option>
    <option value="time">Early</option>
    <option value="-time">Later</option>
    <option value="-star">Stars</option>
  </select>


<ul>
  <li ng-repeat="date in dates | orderBy:orderProp | filter:query">
    {{date.place}},
    {{date.people}},
    {{date.date}},
    {{date.time}},
    Stars: {{date.star}},
    Back: {{date.back}}
  </li>
</ul>
</div>
