<div class="jumbotron text-center">
  <h1>Find A Place to Date</h1>

  How Many Dates Added: {{dates.length}}
  <p>{{ tagline }}</p>

  Search: <input ng-model="query">
  Sort: <select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="day">Old</option>
    <option value="-day">Recent</option>
  </select>


<ul>
  <li ng-repeat="date in dates | orderBy:orderProp | filter:query">
    {{date.name}},
    {{date.place}},
    {{date.day}},
    Stars: {{date.stars}},
    Back: {{date.back}}
  </li>
</ul>
</div>
