.ng-invalid{
  border-color: lightblue;
}

.ng-invalid.ng-dirty{
  border-radius: 10px;
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.inputheightadj{
  height: 39px;
}

.inputreturnadj{
  color: purple;
}.green{
  color: green;
}.red{
  color: #FA787E;
}

table,th,td{
  border:1px solid black;
}

.homeTB {
  color: red;
}


#delete{
  color: white;
}
#delete:hover{
  color: purple;
}
