.ng-invalid{
  border-color: lightblue;
}

.ng-invalid.ng-dirty{
  border-radius: 10px;
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.inputheightadj{
  height: 39px;
}

.inputreturnadj{
  color: purple;
}

.inputreturnadj.green{
  color: green;
}

.inputreturnadj.red{
  color: #FA787E;
}

a {
  color: white;
}
