.ng-invalid{
  border-color: lightblue;
}
.ng-invalid.ng-dirty{
  border-radius: 10px;
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.validform.ng-valid.ng-dirty {
  color: green;
}
.validform.ng-invalid {
  color: red;
}

a {
  color: white;
}
