<p>This is the partial for view 1.</p>

Search: <input ng-model="query">
Sort: <select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="day">Old</option>
  <option value="-day">Recent</option>
</select>

<ul ng-controller = "MyCtrl1 as dctrl">
  <li ng-repeat="date in dctrl.dates | orderBy:orderProp | filter:query">
    {{date.name}},
    {{date.place}},
    {{date.day}},
    Stars: {{date.stars}},
    Back: {{date.back}}
    <!-- <button ng-show="date.return"> Back? </button> -->
  </li>
</ul>

<h3>Add New Date</h3>
<form name="DateForm" ng-controller="MyCtrl1 as ndCtrl" ng-submit="ndCtrl.addPost(ndCtrl.date)">
  <li> Name: {{ndCtrl.date.name}}
    Place: {{ndCtrl.date.place}}
    Day: {{ndCtrl.date.day}}
    Stars: {{ndCtrl.date.stars}}
    Back: {{ndCtrl.date.back}}</li>
  <input ng-model="ndCtrl.date.name" type="text" placeholder="name"/>
  <input ng-model="ndCtrl.date.place" type="text" placeholder="place"/>
  <input ng-model="ndCtrl.date.day" type="text" placeholder="day"/>
  <select ng-model="ndCtrl.date.stars">
    <option value="1"> 1 star </option>
    <option value="2"> 2 star </option>
    <option value="3"> 3 star </option>
    <option value="4"> 4 star </option>
    <option value="5"> 5 star </option>
  </select>
  <input ng-model="ndCtrl.date.back" type="checkbox" /> Come Back?
<button type="button" ng-click="ndCtrl.addPost(ndCtrl)">Add Date</button>
  <!-- <input type="submit" value="Submit" /> -->
</form>

